{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Contacts {{ request.user.username }}</title>
    <link rel="stylesheet" href="{% static 'contacts/style.css' %}">
</head>
<body>
    <h1>Hello {{ request.user.username }}</h1>
    <a href = "{% url 'logout' %}"><button>Log out</button></a>
    <a href = "{% url 'create_contact' %}"><button>Create contact</button></a>
    <a href = "{% url 'search_contact' %}"><button>Search</button></a>
    <br>
    {% for contact in contacts %}
    <hr>
    {{ contact.name }}
    {{ contact.surname }} <br>
    {{ contact.email }} <br>
    {{ contact.phone }} <br>
    <form method = "POST" action = "{% url 'delete_contact' contact.id %}">
        {% csrf_token %}
        <button type = "submit">Delete contact</button>
    </form>
    <br>
    <a href = " {% url 'update_contact' contact.id %}"><button>Edit contact</button></a>
    {% endfor %}
</body>
</html>