<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html">
    <head>
        <meta charset="UTF-8">
        <title>Title</title>
    </head>
    <body>
        <form method = "POST">
          {% csrf_token %}
          <input name = "name"  type = "text" placeholder = "Enter name" value = "{{ contact.name }}">
          <input name = "surname" type = "text" placeholder = "Enter surname" value = "{{ contact.surname }}">
          <input name = "email" type = "email" placeholder = "Enter e-mail" value = "{{ contact.email }}">
          <input name = "phone" type = "text" placeholder = "Enter phone number" value = "{{ contact.phone }}">
          <button type = "submit">Save</button>
        </form>
    </body>
</html>